.carousel-sampleinfo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid red; */
  position: relative;
  /* height: 700px; */
}

.carousel-container {
  position: relative;
  height: 300px;
  margin: 10rem 0rem;
  width: 100%;
  /* border: 3px dotted green; */
}

.carousel {
  height: 100%;
  position: relative;
  transform: translateX(-75%);
  /* border: 3px dotted pink; */
}

@media screen and (max-width: 550px) {
  .carousel-container {
    height: 175px;
  }
}
