.carousel-sampleinfo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid red;
  position: relative;
  height: 700px;
}

.carousel-container {
  position: relative;
  height: 300px;
  margin: 10rem 0rem;
  width: 100%;
  /* border: 3px solid red; */
}

.carousel {
  height: 100%;
  position: relative;
  transform: translateX(-75%);
}

.carousel-item {
  height: 100%;
  width: 50%;
  /* min-width: 325px; */
  position: absolute;
  inset: 0;
  transition: 0.5s ease;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    5px 5px 15px rgba(255, 255, 255, 0.5);
}

.scaled-item {
  transform: scale(1.4);
  z-index: 100;
  filter: blur(10px);
  animation: focusedSample 0.5s 0.25s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes focusedSample {
  100% {
    filter: blur(0px);
    border-radius: 13% 87% 14% 86% / 72% 15% 85% 28%;
  }
}

.scaled-item:hover::after {
  content: "View Details";
  position: absolute;
  color: var(--mainColor);
  font-size: 2rem;
  letter-spacing: 0.35rem;
  text-shadow: 1px 1px 4px var(--mainBg), 1px 1px 10px var(--mainBg);
  cursor: pointer;
  opacity: 0;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 2rem;
  animation: riseup 0.5s forwards;
}

@keyframes riseup {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    letter-spacing: 1rem;
  }
}

.sample-img-container {
  height: 100%;
  width: 100%;
}

.sample-img {
  height: 100%;
  width: 100%;
}

.blur-sample {
  filter: blur(3px);
}

.blur-sample::after {
  content: "";
  inset: 0;
  background: radial-gradient(rgba(255, 255, 255, 0.8), var(--secondaryColor));
  position: absolute;
  opacity: 65%;
}

.peripheral-item {
  animation: blobanimate 25s linear infinite;
}

@keyframes blobanimate {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 85% 15% 40% 60% / 30% 77% 23% 70%;
  }
  40% {
    border-radius: 66% 34% 10% 90% / 30% 44% 56% 70%;
  }
  60% {
    border-radius: 16% 84% 57% 43% / 81% 11% 89% 19%;
  }
  80% {
    border-radius: 67% 33% 81% 19% / 18% 78% 22% 82%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

.carousel-btn {
  position: absolute;
  width: 150px;
  background: transparent;
  border: none;
  cursor: pointer;
  /* border: 2px solid black; */
  bottom: -5rem;
  color: var(--mainColor);
  font-size: 3rem;
  transition: 0.2s ease;
}

.carousel-btn:hover {
  transform: scale(2);
}

.carousel-btn::after {
  content: "";
  inset: 0;
  /* background: mediumspringgreen; */
  position: absolute;
  opacity: 85%;
  /* filter: blur(10px); */
  transition: 0.5s;
}

.carousel-btn:hover::after {
  /* opacity: 65%;
  filter: blur(5px); */
}

.prev {
  right: 0;
}

/* .sample-info-section {
  width: 350px;
  text-align: center;
} */

.info-carousel-parent {
  height: 250px;
  position: absolute;
  /* transform: translateX(-75%); */
  bottom: 0;
  /* border: 3px solid green; */
  width: 100%;
}

.info-carousel {
  position: relative;
  transform: translateX(-75%);
  height: 100%;
}

.carousel-info-item {
  height: 100%;
  width: 50%;
  /* min-width: 325px; */
  position: absolute;
  inset: 0;
  transition: 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 1rem;
  /* border: 3px solid red; */
  /* box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    5px 5px 15px rgba(255, 255, 255, 0.5); */
}

.peripheral-info-item {
  display: none;
}

.scaled-info-item {
  width: 75%;
  transform: translateX(-15%);
  animation: spawninfo 0.5s forwards;
}

.sample-techs {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  font-size: 3.4rem;
}

.html-orange {
  color: rgb(255, 102, 0);
}

.css-blue {
  color: rgb(0, 89, 255);
}

.js-yellow {
  color: rgb(217, 255, 0);
}

.blender-orange {
  color: rgb(255, 145, 0);
}

.react-blue {
  color: rgb(0, 140, 255);
}

.three-green {
  color: green;
}

@keyframes spawninfo {
  0% {
    transform: scale(0.5);
    filter: blur(50px);
  }
  50% {
    transform: scale(1.2) translateX(-15%);
  }

  100% {
    transform: scale(1) translateX(-15%);
    filter: blur(0px);
  }
}

@media screen and (max-width: 550px) {
  .carousel-container {
    height: 175px;
  }
}
