.experience-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  min-height: 700px; /*prevent model from shrinking too much */
  min-width: 500px;
}

@media screen and (max-width: 1100px) {
  .experience-overlay {
    min-height: auto;
    min-width: auto;
  }
}
