.info-carousel-parent {
  /* height: 250px; */
  /* position: absolute; */
  /* transform: translateX(-75%); */
  /* bottom: 0; */
  /* border: 3px solid blue; */
  width: 100%;
  /* border: 3px solid red; */
}

.info-carousel {
  position: relative;
  transform: translateX(-75%);
  height: 100%;
}

.carousel-info-item {
  height: 100%;
  width: 50%;
  /* min-width: 325px; */
  position: absolute;
  inset: 0;
  transition: 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 1rem;
  /* box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
      5px 5px 15px rgba(255, 255, 255, 0.5); */
}

.peripheral-info-item {
  display: none;
}

.scaled-info-item {
  width: 75%;
  transform: translateX(-15%);
  animation: spawninfo 0.5s forwards;
  position: relative;
  padding-bottom: 4rem;
}

@keyframes spawninfo {
  0% {
    transform: scale(0.5);
    filter: blur(50px);
  }
  50% {
    transform: scale(1.2) translateX(-15%);
  }

  100% {
    transform: scale(1) translateX(-15%);
    filter: blur(0px);
  }
}

.sample-techs {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  font-size: 3.4rem;
}

.html-orange {
  color: rgb(255, 102, 0);
}

.css-blue {
  color: rgb(0, 89, 255);
}

.js-yellow {
  color: rgb(217, 255, 0);
}

.blender-orange {
  color: rgb(255, 145, 0);
}

.react-blue {
  color: rgb(0, 140, 255);
}

.three-green {
  color: green;
}

.sample-btns-row {
  display: flex;
  align-items: center;
  padding: 3rem 0; /*allow for button glow without hitting edge */
}

.code-btn {
  border-radius: 100px;
  padding: 0.5rem 3.5rem;
  background: transparent;
  color: var(--secondaryColor);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  position: relative;
  border: 2px solid var(--secondaryColor);
  transition: 0.7s ease;
  cursor: pointer;
  opacity: 65%;
  box-shadow: 0px 0px 2px transparent, 0px 0px 5px transparent;
}

.code-btn:hover {
  /* box-shadow: 0px 0px 2px var(--secondaryColor),
    4px 4px 16px var(--secondaryColor), 5px 4px 18px var(--secondaryColor); */
  transform: scale(0.9, 1.1);
  transition: 0.3s ease;
  opacity: 1;
  box-shadow: 0px 0px 2px var(--secondaryColor),
    0px 0px 5px var(--secondaryColor);
}

.code-btn:hover::after {
  content: "";
  background: var(--secondaryColor);
  width: 150px;
  height: 2.5px;
  position: absolute;
  bottom: -2.75rem;
  right: -7.5rem;
  filter: blur(20px);
  animation: scaleshadow 0.2s forwards;
  transition: 0.2s;
}

@keyframes scaleshadow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* 
.code-btn:hover::after {
  filter: blur(20px);
} */
