.header {
  /* border: 3px solid green; */
  /* height: 100%; */
}

.header-content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10rem 5rem;
  padding-bottom: 0rem;
}

.header-title-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-card {
  /* width: 350px; */
  /* border: 1px solid red; */
  text-align: start;
}

.mobile {
  display: none;
}

.sections-list-mobile-desktop-div,
.media-links {
  margin: 2rem 0rem;
}

.section-items {
  margin-left: 5rem;
}

.media-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-link-item {
  color: var(--mainColor);
}

@media screen and (max-width: 1100px) {
  .section-items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 0rem;
  }

  .header-content {
    padding: 2rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .desktop {
    display: none;
  }
  .mobile-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .header-card {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .header-content {
    padding: 2rem 0;
  }
}
