.app[data-theme="light"] {
  --mainBg: var(--white);
  --mainColor: var(--black);
  --secondaryColor: var(--mintgreen);
}
.app[data-theme="dark"] {
  --mainBg: black;
  --mainColor: white;
  --secondaryColor: var(--mintgreen);
  --mainGradient: linear-gradient(35deg, grey, black);
}

.app {
  /* background:white; */
  background: var(--mainBg);
  color: var(--mainColor);
  background: var(--mainGradient);
}

.app-content {
  max-width: 144rem;
  margin: 0 auto;
  /* background: white; */
  /* border: 3px solid black; */
  height: 100vh;
  display: flex;
  overflow: hidden;
  padding: 0rem var(--mainPaddingX);
  font-family: var(--weirdFont);
  font-family: var(--otherFont);
  text-shadow: 1px 1px 10px var(--mainBg);
}

.app-column {
  /* border: 3px solid red; */
}

.overflow-column {
  /* border: 3px solid green; */
  overflow-y: auto;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1100px) {
  .app-content {
    flex-direction: column;
  }
}
