@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --mainPaddingX: 12.5rem;
  --black: black;
  --white: white;
  --mintgreen: rgb(17, 228, 157);
  --blue: rgb(0, 255, 255);
  --weirdFont: "Anta", sans-serif;
  --otherFont: "Raleway", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 8.5rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.3rem;
}

.mid-thin {
  font-weight: 300;
}

.strong {
  font-weight: 800;
}

.my-1 {
  margin: 1.5rem 0;
}

.my-2 {
  margin: 2.5rem 0;
}

.high-z {
  position: relative;
  z-index: 50;
}

.no-hover {
  pointer-events: none;
}

@media screen and (max-width: 1150px) {
  :root {
    --mainPaddingX: 6.5rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --mainPaddingX: 2.5rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.7rem;
  }
}
